.likedHeart {
    color: red;
    border: none;
    background: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.emptyHeart {
    color: black;
    border: none;
    background: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.commentForm {
    display: flex;
    border-top: 1px solid #dbdbdb;
    padding: 10px 0;
}

.commentInput {
    flex-grow: 1;
    border: none;
    outline: none;
}

.submitBtn {
    background: none;
    border: none;
    color: #0095f6;
    font-weight: bold;
    cursor: pointer;
}